*{
    margin:0;
    padding:0,

}
body{
    height: 1000px;
}
.sidebar{
    width: 300px;
    height: 100vh;
    position: fixed;
    background-color: teal;
    transition: .6s;
}
ul{
    padding: 20px;
}
ul li{
    list-style: none;
    padding: 20px;
    color: white;
}
i{
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    cursor: pointer;
}
.close{
    transform: translateX(-300px);
}
