
* {
    box-sizing: border-box;
}

p {
    font-family: lorem
}

@font-face {
    font-family: lorem;
    src: url(../fonts/Roboto-Bold.ttf);
}


.box {
    height: 250px;
    width: 600px;
    border: 6px dashed black;
    /* background-color: red; */
    background-image: url(../img/download\ \(1\).jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-position: left bottom; */
    /* background-attachment: fixed; */
    /* background-clip: padding-box; */
    /* background-origin:content-box;
    padding: 10px; */
}

/* .box img{
    width: 100%;
    height: 100%;
} */
/* .test{
    width: 100px;
    height: 100px;
    background-color: red;
    margin-top: 50px;
} */